---
interface Props {
  dark?: boolean;
}
const { dark = false } = Astro.props;
const outline = dark ? "outline-white/4" : "outline-black/4";
---

<div
  class="absolute inset-0 flex pointer-events-none select-none"
  aria-hidden="true"
>
  <div
    class:list={[
      "mx-auto grid h-full w-full max-w-[1464px] grid-cols-6 gap-6 md:grid-cols-12",
      outline,
    ]}
  >
    {
      Array.from({ length: 12 }).map((_, i) => (
        <div
          class:list={[
            "outline-dashed outline-1",
            outline,
            i >= 6 && "hidden md:block",
          ]}
        />
      ))
    }
  </div>
</div>
