---
import { routes } from "../lib/routes";
import GridLines from "./GridLines.astro";
---

<header
  data-header
  class="sticky h-18 top-0 inset-x-0 px-6 py-6 z-50 font-mono transition-colors duration-300"
>
<script>
  const header = document.querySelector("[data-header]") as HTMLElement;
  function updateHeader() {
    if (window.scrollY > 96) {
      header.classList.add("bg-surface-primary");
    } else {
      header.classList.remove("bg-surface-primary");
    }
  }
  updateHeader();
  window.addEventListener("scroll", updateHeader, { passive: true });
</script>
  <GridLines dark />
  <nav
    class="mx-auto h-full w-full flex max-w-[1360px] items-center justify-between"
  >
    <a
      href="/"
      class="group flex items-center gap-3 text-sm uppercase tracking-wide"
    >
      <span class="inline-block size-3 bg-ink-primary group-hover:animate-blink"
      ></span>
      Pixels Studio
    </a>

    <ul class="hidden md:flex items-center gap-8">
      {
        routes.map(({ label, href }) => (
          <a
            href={href}
            class="text-sm uppercase tracking-wide text-ink-secondary hover:text-ink-primary transition-colors"
          >
            {label}
          </a>
        ))
      }
    </ul>
  </nav>
</header>
