---
import { Font } from "astro:assets";
import "../styles/global.css";
import GridLines from "../components/GridLines.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Pixels Studio</title>
    <Font cssVariable="--font-inter" preload />
    <Font cssVariable="--font-fragment-mono" preload />
  </head>
  <body
    class="relative bg-surface-primary text-ink-primary antialiased"
  >
    <GridLines dark />
    <Header />
    <slot />
  </body>
</html>
